<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Task</title>
  </head>
  <body>
    <h1>NEW TASK</h1>
    <input type="text" id="title" placeholder="Title"><br/><br/>
    <input type="number" id="priority" placeholder="Priority"><br/><br/>
    <textarea id="content" placeholder="Content"></textarea><br/>
    <button id="add">ADD</button>
    
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      crossorigin="anonymous"></script>
    <script>
      var article = {title:"",number:"", content:""};
      $('#submit').click(function(event){
        article.title = $('#title').val();
        article.number = $('#priority').val();
        article.content = $('#content').val();
        $.ajax({
          method:"POST",
          url:"/article/create",
          data: article
        }).done(function(response){
          console.log(response);
        }).fail(function(response){
          console.log(response.responseText);
        });
      });

      $('#getArticles').click(function(event){
        $.ajax({
          method:"GET",
          url:"/article/list"
        }).done(function(response){
          console.log(response);
        }).fail(function(response){
          console.log(response.responseText);
        });
      });

    </script>
  </body>
</html>